<!DOCTYPE html>
<html lang="en-US">
  <head>
		<meta charset="utf-8" />
		<title>Stuck</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <style type="text/css">
     body {
       background: #ccc;
     }
     svg {
       background: #eee;
       display: block;
       margin: 0 auto;
       box-shadow: 0 8px 15px 0 rgba(0,0,0,0.1);
     }
     image {
       border-radius: 50%;
       clip-path: url(#circle);
     }
     @media print {
       @page {
         size: 4in 6in;
         margin: 0;
         padding: 0;
         width: 4in;
         height: 6in;
       }
       svg, body {
         background: none;
         box-shadow: none;
         margin: 0;
         padding: 0;
       }
       image {
         clip-path: none;
       }
     }
    </style>
  </head>
  <body>
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	       width="4in" height="6in" viewBox="0 0 288 432" enable-background="new 0 0 288 432" xml:space="preserve">
      <defs>
        <clipPath id="circle">
          <rect x="0" y="0" width="48" height="48" rx="24"/>
        </clipPath>
      </defs>
      <g>
	      <g>
			    <image overflow="visible" width="48" height="48" xlink:href="{{url}}"  transform="matrix(1.1719 0 0 1.1719 21.375 41)"></image>
	      </g>
	      <g>
			    <image overflow="visible" width="48" height="48" xlink:href="{{url}}"  transform="matrix(1.1719 0 0 1.1719 84.375 41)"></image>
	      </g>
	      <g>
			    <image overflow="visible" width="48" height="48" xlink:href="{{url}}"  transform="matrix(1.1719 0 0 1.1719 147.375 41)"></image>
	      </g>
	      <g>
			    <image overflow="visible" width="48" height="48" xlink:href="{{url}}"  transform="matrix(1.1719 0 0 1.1719 210.375 41)"></image>
	      </g>
	      <g>
			    <image overflow="visible" width="48" height="48" xlink:href="{{url}}"  transform="matrix(1.1719 0 0 1.1719 21.375 99.75)"></image>
	      </g>
	      <g>
			    <image overflow="visible" width="48" height="48" xlink:href="{{url}}"  transform="matrix(1.1719 0 0 1.1719 84.375 99.75)"></image>
	      </g>
	      <g>
			    <image overflow="visible" width="48" height="48" xlink:href="{{url}}"  transform="matrix(1.1719 0 0 1.1719 147.375 99.75)"></image>
	      </g>
	      <g>
			    <image overflow="visible" width="48" height="48" xlink:href="{{url}}"  transform="matrix(1.1719 0 0 1.1719 210.375 99.75)"></image>
	      </g>
	      <g>
			    <image overflow="visible" width="48" height="48" xlink:href="{{url}}"  transform="matrix(1.1719 0 0 1.1719 21.375 158.5)"></image>
	      </g>
	      <g>
			    <image overflow="visible" width="48" height="48" xlink:href="{{url}}"  transform="matrix(1.1719 0 0 1.1719 84.375 158.5)"></image>
	      </g>
	      <g>
			    <image overflow="visible" width="48" height="48" xlink:href="{{url}}"  transform="matrix(1.1719 0 0 1.1719 147.375 158.5)"></image>
	      </g>
	      <g>
			    <image overflow="visible" width="48" height="48" xlink:href="{{url}}"  transform="matrix(1.1719 0 0 1.1719 210.375 158.5)"></image>
	      </g>
	      <g>
		      
			    <image overflow="visible" width="48" height="48" xlink:href="{{url}}"  transform="matrix(1.1719 0 0 1.1719 21.375 217.25)">
		      </image>
	      </g>
	      <g>
		      
			    <image overflow="visible" width="48" height="48" xlink:href="{{url}}"  transform="matrix(1.1719 0 0 1.1719 84.375 217.25)">
		      </image>
	      </g>
	      <g>
		      
			    <image overflow="visible" width="48" height="48" xlink:href="{{url}}"  transform="matrix(1.1719 0 0 1.1719 147.375 217.25)">
		      </image>
	      </g>
	      <g>
		      
			    <image overflow="visible" width="48" height="48" xlink:href="{{url}}"  transform="matrix(1.1719 0 0 1.1719 210.375 217.25)">
		      </image>
	      </g>
	      <g>
		      
			    <image overflow="visible" width="48" height="48" xlink:href="{{url}}"  transform="matrix(1.1719 0 0 1.1719 21.375 276)">
		      </image>
	      </g>
	      <g>
		      
			    <image overflow="visible" width="48" height="48" xlink:href="{{url}}"  transform="matrix(1.1719 0 0 1.1719 84.375 276)">
		      </image>
	      </g>
	      <g>
		      
			    <image overflow="visible" width="48" height="48" xlink:href="{{url}}"  transform="matrix(1.1719 0 0 1.1719 147.375 276)">
		      </image>
	      </g>
	      <g>
		      
			    <image overflow="visible" width="48" height="48" xlink:href="{{url}}"  transform="matrix(1.1719 0 0 1.1719 210.375 276)">
		      </image>
	      </g>
	      <g>
		      
			    <image overflow="visible" width="48" height="48" xlink:href="{{url}}"  transform="matrix(1.1719 0 0 1.1719 21.375 334.75)">
		      </image>
	      </g>
	      <g>
		      
			    <image overflow="visible" width="48" height="48" xlink:href="{{url}}"  transform="matrix(1.1719 0 0 1.1719 84.375 334.75)">
		      </image>
	      </g>
	      <g>
		      
			    <image overflow="visible" width="48" height="48" xlink:href="{{url}}"  transform="matrix(1.1719 0 0 1.1719 147.375 334.75)">
		      </image>
	      </g>
	      <g>
		      
			    <image overflow="visible" width="48" height="48" xlink:href="{{url}}"  transform="matrix(1.1719 0 0 1.1719 210.375 334.75)">
		      </image>
	      </g>
      </g>
    </svg>
  </body>
</html>
