<!DOCTYPE html>
<html lang="en-US">
  <head>
		<meta charset="utf-8" />
		<title>Stuck</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" />
    <link rel="stylesheet" href="/s/index.css" />
  </head>
  <body>
    <section>
      <h1>Stuck.</h1>
      <form action="/stuck">
        <input name="email" type="email" placeholder="Email" required />
      </form>
    </section>
    {{#url}}
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	       width="288" height="432" viewBox="0 0 288 432" enable-background="new 0 0 288 432" xml:space="preserve">
      <defs>
        <clipPath id="circle">
          <rect x="0" y="0" width="48" height="48" rx="24"/>
        </clipPath>
      </defs>
      <g>
	      <g>
			    <image overflow="visible" width="48" height="48" xlink:href="{{.}}"  transform="matrix(1.1719 0 0 1.1719 21.375 41)"></image>
	      </g>
	      <g>
			    <image overflow="visible" width="48" height="48" xlink:href="{{.}}"  transform="matrix(1.1719 0 0 1.1719 84.375 41)"></image>
	      </g>
	      <g>
			    <image overflow="visible" width="48" height="48" xlink:href="{{.}}"  transform="matrix(1.1719 0 0 1.1719 147.375 41)"></image>
	      </g>
	      <g>
			    <image overflow="visible" width="48" height="48" xlink:href="{{.}}"  transform="matrix(1.1719 0 0 1.1719 210.375 41)"></image>
	      </g>
	      <g>
			    <image overflow="visible" width="48" height="48" xlink:href="{{.}}"  transform="matrix(1.1719 0 0 1.1719 21.375 99.75)"></image>
	      </g>
	      <g>
			    <image overflow="visible" width="48" height="48" xlink:href="{{.}}"  transform="matrix(1.1719 0 0 1.1719 84.375 99.75)"></image>
	      </g>
	      <g>
			    <image overflow="visible" width="48" height="48" xlink:href="{{.}}"  transform="matrix(1.1719 0 0 1.1719 147.375 99.75)"></image>
	      </g>
	      <g>
			    <image overflow="visible" width="48" height="48" xlink:href="{{.}}"  transform="matrix(1.1719 0 0 1.1719 210.375 99.75)"></image>
	      </g>
	      <g>
			    <image overflow="visible" width="48" height="48" xlink:href="{{.}}"  transform="matrix(1.1719 0 0 1.1719 21.375 158.5)"></image>
	      </g>
	      <g>
			    <image overflow="visible" width="48" height="48" xlink:href="{{.}}"  transform="matrix(1.1719 0 0 1.1719 84.375 158.5)"></image>
	      </g>
	      <g>
			    <image overflow="visible" width="48" height="48" xlink:href="{{.}}"  transform="matrix(1.1719 0 0 1.1719 147.375 158.5)"></image>
	      </g>
	      <g>
			    <image overflow="visible" width="48" height="48" xlink:href="{{.}}"  transform="matrix(1.1719 0 0 1.1719 210.375 158.5)"></image>
	      </g>
	      <g>
		      
			    <image overflow="visible" width="48" height="48" xlink:href="{{.}}"  transform="matrix(1.1719 0 0 1.1719 21.375 217.25)">
		      </image>
	      </g>
	      <g>
		      
			    <image overflow="visible" width="48" height="48" xlink:href="{{.}}"  transform="matrix(1.1719 0 0 1.1719 84.375 217.25)">
		      </image>
	      </g>
	      <g>
		      
			    <image overflow="visible" width="48" height="48" xlink:href="{{.}}"  transform="matrix(1.1719 0 0 1.1719 147.375 217.25)">
		      </image>
	      </g>
	      <g>
		      
			    <image overflow="visible" width="48" height="48" xlink:href="{{.}}"  transform="matrix(1.1719 0 0 1.1719 210.375 217.25)">
		      </image>
	      </g>
	      <g>
		      
			    <image overflow="visible" width="48" height="48" xlink:href="{{.}}"  transform="matrix(1.1719 0 0 1.1719 21.375 276)">
		      </image>
	      </g>
	      <g>
		      
			    <image overflow="visible" width="48" height="48" xlink:href="{{.}}"  transform="matrix(1.1719 0 0 1.1719 84.375 276)">
		      </image>
	      </g>
	      <g>
		      
			    <image overflow="visible" width="48" height="48" xlink:href="{{.}}"  transform="matrix(1.1719 0 0 1.1719 147.375 276)">
		      </image>
	      </g>
	      <g>
		      
			    <image overflow="visible" width="48" height="48" xlink:href="{{.}}"  transform="matrix(1.1719 0 0 1.1719 210.375 276)">
		      </image>
	      </g>
	      <g>
		      
			    <image overflow="visible" width="48" height="48" xlink:href="{{.}}"  transform="matrix(1.1719 0 0 1.1719 21.375 334.75)">
		      </image>
	      </g>
	      <g>
		      
			    <image overflow="visible" width="48" height="48" xlink:href="{{.}}"  transform="matrix(1.1719 0 0 1.1719 84.375 334.75)">
		      </image>
	      </g>
	      <g>
		      
			    <image overflow="visible" width="48" height="48" xlink:href="{{.}}"  transform="matrix(1.1719 0 0 1.1719 147.375 334.75)">
		      </image>
	      </g>
	      <g>
		      
			    <image overflow="visible" width="48" height="48" xlink:href="{{.}}"  transform="matrix(1.1719 0 0 1.1719 210.375 334.75)">
		      </image>
	      </g>
      </g>
    </svg>
    {{/url}}
  </body>
</html>
